.header_layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.header_layout button {
    padding: 10px;
    font-size: 1.2em;
}

.card_container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.qr{
    border: 5px solid var(--red);
    border-radius: 18px;
    width: 500px;
    height: 100%;
}