.layout {
    display: flex;
    justify-content: flex-end;
    position: relative
}

.main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: 85vh;
}

@media only screen and (max-width: 600px) {
    .main {
        margin-top: 85px;
        width: 100vw;
    }
}